//
//  Project.xcconfig
//

// Versioning
APP_SHORTVERSION_NUMBER = 2.2.0
APP_VERSION_NUMBER = $(APP_SHORTVERSION_NUMBER).0

// Compiling
SDKROOT = iphoneos
CODE_SIGN_IDENTITY = iPhone Developer
GCC_OPTIMIZATION_LEVEL = s
IPHONEOS_DEPLOYMENT_TARGET = 10.0

// Warnings / Errors
GCC_TREAT_WARNINGS_AS_ERRORS = YES
SWIFT_TREAT_WARNINGS_AS_ERRORS = YES


